.main-container:hover {
  cursor: pointer;
}

.main-container {
  border-style: solid;
  height: 200px;
  width: 400px;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1em;
  color: black;
  text-shadow: none;
  margin-bottom: 3em;
}

.emoticon {
  margin: 1em;
  width: 100px;
  height: 100px;
  flex: 1;
}

.msgKr,.msgEn{
  font-size: unset;
  font-weight: bold;
  word-break: break-word;
}

.msgcontainer {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
}

#checklist-header {
  color: black;
  text-shadow: none;
  padding: 1em 0 1em 0;
}

@media only screen and (max-width: 450px) {
  .emoticon {
    width: 75px;
    height: 75px;
  }

  .main-container {    
    height: 200px;
    width: 300px;
  }
}