.main.contact.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  height: auto;
  padding-top: 0;
}

.contact.form {
  width: 80%;
  color: black;
  text-shadow: none;
  font-weight: normal;
  text-align: left;
  margin-bottom: 3em;
}