.main {
  position: absolute;
  z-index: 99;
  width: 100%;
  margin: 0;
  height: auto;
  padding-top: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  justify-content: center;
}

.main > * {
  color: white;
  text-shadow: 1px 1px black;
  font-weight: bold;
  text-align: center;
}

#sub-title {
  padding-top: 1em;
}