li {
  white-space: pre-wrap;
  padding-bottom: 0.5em;
  font-weight: normal;
}

.main.program.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  height: auto;
  padding-top: 0;
}

.program.message > * {
  font-weight: normal;
}

.program.message > :first-child {
  color: #ed6955;
  font-weight: bold;
}

.info.title {
  padding: 1em 0 1em 0;
  margin: 0;
  font-weight: bold;
}

h1.info.title::after {
  content: "이란?";
  color: black;
  font-weight: normal;
}

div.program.message::before {
  content: "\f10d";
  font-family: "FontAwesome";
  color: #acb7c3;
}

div.program.message::after {
  content: "\f10e";
  font-family: "FontAwesome";
  align-self: flex-end;
  color: #acb7c3;
}

h4.program::before {
  content: "\f105  ";
  font-family: "FontAwesome";
  color: #acb7c3;
}

.program.quote.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: black;
  text-shadow: none;
  padding: 1em;
}

.program.info.container {
  padding: 2em 1em 3em 1em;
  color: black;
  text-shadow: none;
}

h4.program {
  text-align: left;
  padding-bottom: 0.5em;
  font-weight: bold;
}

ol {
  text-align: left;
}

.program.message {
  text-align: left;
  display: flex;
  flex: 1;
  padding: 1em;
  flex-direction: column;
}

.image {
  display: flex;
  flex: 1;
  height: 400px;
  padding: 1em;
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  margin: auto;
  border-radius: 0;
}

.program.title.container {
  color: rgb(0, 87, 164);
  text-shadow: none;
  padding: 0;
}

.program.message > * {
  margin: 0;
  padding: 0.5em;
}


@media only screen and (max-width: 720px) {
  .program.quote.container {    
    flex-direction: column-reverse;    
  }
  
  .image {
    height: 300px;
  }
}
