.member-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 250px;
  margin: 1em 3em 0 3em;
}

.member-container:hover {
  cursor: pointer;
}

.member-avatar {
  display: flex;
  flex: 4;
  width: 65%;
  max-height: 65%;
  border-radius: 10px;
}

.member-avatar-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.member-avatar-info > h3 {
  font-size: x-large;
  margin: 0;
  font-weight: bold;
  color: black;
  text-shadow: none;
}

.member-avatar-info > p {
  margin: 0;
  color: #bfbfbf;
  text-shadow: none;
  font-weight: normal;
  letter-spacing: 5px;
}