.main.register.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  height: 100vh;
  padding-top: 0; 
}

#register-container {
  color: black;
  text-shadow: none;
  font-weight: normal;
  text-align: left; 
}

#register-button {
  width: 100%;
}

#name-container {
  display: flex;
}

#first-name {
  padding-right: 0.5em;
}

#last-name {
  padding-left: 0.5em;
}

.registerLabel {
  padding: 0;
}

#terms {
  display: flex;
  align-items: center;
  padding-bottom: 1em;  
}

#terms > input {
  width: 20px;    
}

#terms > label {
  padding: 0;
  margin: 0;
}

#terms > label:hover {
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .register.form {
    padding-top: 15em;
    padding-bottom: 2em;
  } 
}
